
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
 


.containe {
    background-color: #ee800252;
    text-align: right;
    
}


.menu li {
    display:inline-flex ;
    margin: 20px;   
       
}

.menu li a {   
    font-size: 20px;
    color: black;

} 
.whatsapp{
    width: 40px;
    margin: 0 20px;   
    
}



.menu .link:hover{
    border-radius: 12px;
    color: #f3f4f5;
    margin: 0 10px;
    background-color: #4b2a0552;
}

nav{
    text-align: center;
    
    
    }



    nav img {
        border-radius: 50%;
        width: 150px;
        

    }

    h1{
        font-family: 'Lobster', cursive;
        text-align: center;
        font-size: 30px;
    }
    
    .indeh2 {
        color: #f3f4f5;
        font-family: 'Lobster', cursive;
              
        background-color: rgb(0, 4, 255);
        
    }   

    .container{          
        border-radius: 30px;        
        background: #b4e9ca2c;
        width: 100%; 
        display: flex;
        justify-content: center;
         }

     .quadro-de-aviso{
        padding: 30px;
        background-color: rgba(13, 94, 10, 0.123);
        border-radius: 10px;
        

     }    



    .regras{
        text-align: center;
        font-size:20px;
        border: solid 4px rgba(10, 14, 230, 0.856);
        width: 400px;         
        margin: 10px;
        padding: 6px;      
        background-color: rgb(252, 252, 252);

    }
    


    .regras .imagens-proibido {    
        width: 70px;
        

    }

    
   
    
    #vermelho{
        color:rgba(219, 14, 14, 0.781) ;
        
    }


    /*
        estilizando pagina Reservas 
     */
     
     .secao2{      
        padding: 15px;       
        background-color: #f2f3f5;        
        width: 100%;     
                       
     }

     .botao{
        font-size: large;
        margin: 10px;
        color: rgb(0, 0, 0); 
        cursor: pointer;
        padding: 10px 20px;
        border-radius: 15px;
        
     }
     label{
        font-size: larger;
        
                
     }
    
     input, textarea{
        background-color:white;
        color: rgb(32, 9, 238);
     }
        #cursos input{
            margin: 15px;
            
            
         }                
     

     .largura{
        width: 300px;
        
       
     }
     select{
        padding: 10px;
        font-size: large;
        
     }

     .contato{        
        display: flex;
        justify-content: center;
        
     } 
     .tecnicos {
        margin: 80px 20px 0 60px;
     }    
           
     

     .imgcontato {

        width: 60px;
     }


     
   